*creds.txt
/_notes/dwsync.xml
/pages/_notes/dwsync.xml
/scripts/_notes/dwsync.xml
/images/_notes/dwsync.xml
/Test.html
/test.php
/scripts/connectdb.php
/Old Assets/Main.v1.html
/Old Assets/registration.v1.html
/Old Assets/registrationsuccess.v1.html
/scripts/php/connectdb.php
/scripts/php/register.php
/scripts/js/nodeqr.js
/scripts/js/node_modules/
/scripts/js/package-lock.json
/scripts/js/package.json
/TODO.txt